@font-face {
  font-family: 'Lexend-ExtraLight';
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local('Lexend-ExtraLight'),
    url('/fonts/Lexend-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Lexend-Light';
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local('Lexend-Light'),
    url('/fonts/Lexend-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local('Lexend'),
    url('/fonts/Lexend-Regular.woff2') format('woff2');
}
